/*element*/
a {
  text-decoration:none;
  color: #22a1c4;
}
a:hover {
  color: black;
}
article {
  margin-top: 40px;
  margin-left:10px;
}
body {
  margin: 0;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  border-bottom: 2px solid orange;
  border-bottom-width: 90%;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
}

/*class*/
.article-list {
  color: orange;
}
.div_center {
  text-align: center;
}
.foot{
  margin: 35px;
  color: orange;
  text-align: center;
}
.header-title {
  text-align: center;
}
.header-list {
  list-style-type: none;
  text-align: center;
}
.header-list li {
  display: inline;
  font-size: 20px;
}
.media_p {
  display: none;
}

/*id*/
#disqus_thread {
  margin: 15px;
}

/*미디어쿼리
갤노트3 브라우저 해상도(360px) 이하일 경우
*/
@media screen and (max-width: 360px) {
  article {
    margin-top: 75px;
    margin-left:10px;
  }
  .media_iframe {
    display: none;
  }
  .media_p {
    display: block;
  }
  #disqus_thread {
    display: none;
  }
}
